<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HibernateConfig</display-name>
  <servlet>
    <display-name>com.AddPets.MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.AddPets.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>com.AddPets.PetServlet</display-name>
    <servlet-name>PetServlet</servlet-name>
    <servlet-class>com.AddPets.PetServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>com.AddPets.DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.AddPets.DetailServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>com.AddPets.AddPetServlet</display-name>
    <servlet-name>AddPetServlet</servlet-name>
    <servlet-class>com.AddPets.AddPetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PetServlet</servlet-name>
    <url-pattern>/all_pets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/pet_details</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPetServlet</servlet-name>
    <url-pattern>/add_pet</url-pattern>
  </servlet-mapping>
</web-app>